#eventInfoContainer
  width: 50vw
  display: inline-block
  justify-content: center

#eventInfoContainer1, #eventInfoContainer2
  width: 50%
  height: 250px
  display: inline-block

#eventInfoContainer2
  float: right
  overflow: scroll

#eventInfoContainer3, #eventInfoContainer4  
  width: 50%
  height: 250px
  display: inline-block
  text-align: center

#eventInfoContainer4
  float: right

#eventInfoAttending, #eventInfoPending
  text-align: left
  overflow: scroll
  
@import 'react-big-calendar/lib/sass/styles'

.vl 
  border-left: 2px solid black
  height: 80%
  position: absolute
  left: 50%
  margin-left: -3px
  margin-top: 150px
  top: 0

.outerDash  

  text-align: center
  border-width: 1px
  width: 70%
  margin: auto
  height: 80vh
  border-style: solid
  border-color: black
  margin-top: 5%
  border-radius: 10px  
  #displayName
    color: orange
    font-size: xx-large 

.hostingDash 
  box-shadow: -1px 1px 10px grey;
  position: absolute
  font-family: apple
  text-align: center
  border-width: 1px
  width: 31%
  height: 58vh
  border-style: solid
  border-color: #fc6565 
  border-radius: 5px
  left: 50%
  margin: 2% 
  margin-top: 5%
  display: flex;
  flex-direction: column;
  .h4
    background-color: #fc6565 
    color: white
    padding: 20px


.attendingDash 
  box-shadow: -1px 1px 10px grey;
  position: absolute
  font-family: apple
  text-align: center
  border-width: 1px
  width: 31%
  height: 58vh
  border-style: solid
  border-color: orange
  margin-top: 5%
  border-radius: 5px
  margin: 2%
  margin-top: 5%
  display: flex;
  flex-direction: column;
  .h4
    background-color: orange
    color: white
    padding: 20px

    
 
.modalStyles
  width: fit-content
  max-width: 100%
  .modal-body
    height: 100%

.createNewEvent-button
  position: relative
  background-color: orange
  color: white
  border-radius: 5px
  border-width: 2px
  border-color: white

.event-info-button
  position: relative
  background-color: orange
  color: white
  border-radius: 5px
  border-width: 2px
  border-color: white

#createEventForm > input, span, select,
  display: block

#createEventCost, #createEventMaxPeople
  width: 15%

#createEventDescription
  height: 150px

.landingPageContent
  background-color: #ffffff3a
  width: 30%
  text-align: center
  border-width: 1px
  border-style: solid
  border-color: grey
  border-radius: 10px
  margin-left: 35%
  margin-right: 35%
  margin-top: 1%

.landingPageUsernameField, .landingPagePasswordField
  width: 45%
  margin: 1%
  margin-top: 2.5%
  margin-left: 27.5%
  margin-right: 27.5%

.loginButton
  margin: 2%
  width: 45%
  background-color: orange
  border-color: gray
.loginButton:hover
  background-color: #ff8d00
  border-color: gray
.loginButton:active
  background-color: #ffb255

#signupButton
  background-color: orange
  border-color: gray
  width: 100%
#signupButton:hover
  background-color: #ff8d00
  border-color: gray
#signupButton:active
  background-color: #ffb255

#noAccountText, #noAccountButton
  display: inline-block
  color: grey
  margin: 1%

#noAccountButton
  margin-left: .5%
  text-decoration: underline
  cursor: pointer

.guestButton
  background-color: orange
  color: white
  border-radius: 5px2
  border-width: 2px
  border-color: white

.landingPageHeader
  font-size: 50px
  font-weight: bold
  margin-top: 2.5%
  text-align: center

.landingPage
  margin-top: 0
  width: 100%
  height: 100vh

.landingPageImage
  z-index: -1000
  filter: blur(8px)
  position: fixed
  top: 0

#continueAsGuestButton
  color: gray
  text-decoration: underline
  margin-bottom: 2.5%
  cursor: pointer

#landingPageOr
  color: gray

#signup
  width: 200px
  margin-left: 50px
  margin-right: 50px

.hosting-dash-pending1
  color: red

.attending-dash-pending1
  color: grey

.dashboardListItem
  display: flex
  border-width: 1px
  border-style: solid
  border-color: orange
  border-radius: 3px
  position: relative
  height: 7vh;
  width: 94%;
  align-items: center;
  justify-content: center;
  margin: 3% 0 3% 0
  left: 3%
  overflow: scroll
#mainCalendar
  width: 72%
  display: inline-block
  float: right
  margin-right: 2.5%
  margin-top: 2.5%
  margin-bottom: 2.5%
  padding: 1.25%
  background-color: white
  border-radius: 15px
  filter: drop-shadow(0 0 0.15rem black)

#mainFilter
  width: 20%
  display: inline-block
  margin-left: 2.5%
  margin-top: 2.5%
  margin-bottom: 2.5%
  padding: 1.25%
  background-color: white
  border-radius: 15px
  filter: drop-shadow(0 0 0.15rem black)

#mainPage
  background-color: #fffbf3

.navbar
  filter: drop-shadow(0 0 0.1rem black)
  height: 75px

.rbc-agenda-date-cell
  background-color: white
  color: black

.rbc-toolbar-label
  font-size: 25px
  font-weight: 200

.dashboardButton
  position: relative
  right: -35%
  background-color: orange
  color: white
  border-radius: 5px
  border-width: 2px
  border-color: white
