@mixin basic-styles
  display: block
  font-family: "Trebuchet MS"

@mixin grid-parent
  display: -ms-grid
  display: grid
  height: 650px
  width: 50%
  grid-template-columns: 1fr 1fr
  grid-auto-rows: 2
  border: 6px solid #fc6565
  border-radius: 10px
  
.grid-parent-full
  @include grid-parent

.grid-parent-limited
  @include grid-parent

.grid-parent-host 
  @include grid-parent

.grid-title 
  @include basic-styles
  background-color: orange
  height: 120px
  grid-column: 1/3
  grid-row: 1/2
  color: white
  border-bottom: 4px solid #fc6565

@mixin grid-left
  font-weight: bold
  background-color: #fc6565
  grid-column: 1/2
  grid-row: 2/3
  padding: 20px
  margin: 0px 0px 0px 6px
  border-radius: 5px
  border: 2px solid #dd3d3d
  color: white

.grid-left-host
  @include basic-styles
  @include grid-left
  height: 330px

.grid-left-full
  @include basic-styles
  @include grid-left
  height: 500px

.grid-left-limited
  @include basic-styles
  @include grid-left
  height: 500px

@mixin grid-right
  background-color: white
  grid-column: 2/3
  grid-row: 2/3
  overflow-y: auto
  padding: 20px

.grid-right-host
  @include basic-styles
  @include grid-right
  height: 300px

.grid-right-full
  @include basic-styles
  @include grid-right
  height: 450px

.grid-right-limited
  @include basic-styles
  @include grid-right
  height: 450px

.grid-host-pend-accept 
  @include basic-styles
  height: 180px
  position: relative
  top: 5px
  grid-column: 1/3
  grid-row: 3/4
  border-radius: 0px 0px 10px 10px;

@mixin grid-host
  display: inline-block
  grid-row: row 3 / span 1
  height: 180px
  width: 50%
  float: left
  position: relative
  top: 2px
  border-radius: 10px;
  border: 3px solid  #fc6565
  overflow-y: auto
  padding: 20px

.grid-host-pend
  @include grid-host
  grid-column: col 1 / span  1
  float: left
  
.grid-host-accept
  @include grid-host
  grid-column: col 2 / span  1
  float: right

@mixin button
  display: inline-block
  float: right
  border-radius: 5px
  height: 22px
  font-size: 12px
  background-color: #fc6565
  color: white
  margin: 2px

.pend-accept-button
  @include button
  width: 60px

.attend-delete-button
  @include button
  width: 80px
  box-shadow: #dd3d3d 2px 2px, #dd3d3d -2px -2px, #dd3d3d 2px -2px, #dd3d3d -2px 2px
  
.pend-accept-name
  display: inline-block
  font-weight: bold
  color: #dd3d3d
  margin: 2px

.pend-accept-heading
  background-color: orange
  color: white
  text-align: center
  position: relative
  top: -20px
  left: -20px
  width: 118%
  border-bottom: 3px solid #fc6565
  text-shadow: #dd3d3d 0px 0px 3px

.check-x-button
  float: right
  border: none
  margin: -4px

p.eventInfoTitle
  font-size: 40px
  position: relative
  padding-left: 30px
  text-shadow: #dd3d3d 3px 3px

p.eventInfoLocation
  font-size: 25px
  position: relative
  padding-left: 40px
  top: -10px
  text-shadow: #fc6565 3px 3px

p.eventInfoDescription
  overflow-wrap: break-word
  overflow-y: auto

p.eventInfo
  text-shadow: #dd3d3d 1px 1px, #dd3d3d -1px -1px, #dd3d3d 1px -1px, #dd3d3d -1px 1px

//End eventInfo styling

@import 'react-big-calendar/lib/sass/styles'

.vl 
  border-left: 2px solid black
  height: 80%
  position: absolute
  left: 50%
  margin-left: -3px
  margin-top: 150px
  top: 0

.outerDash  

  text-align: center
  border-width: 1px
  width: 70%
  margin: auto
  height: 80vh
  border-style: solid
  border-color: black
  margin-top: 5%
  border-radius: 10px  
  #displayName
    color: orange
    font-size: xx-large 




.hostingDash 
  box-shadow: -1px 1px 10px grey;
  position: absolute
  font-family: apple
  text-align: center
  border-width: 1px
  width: 31%
  height: 58vh
  border-style: solid
  border-color: #fc6565 
  border-radius: 5px
  left: 50%
  margin: 2% 
  margin-top: 5%
  display: flex;
  flex-direction: column;
  .h4
    background-color: #fc6565 
    color: white
    padding: 20px


.attendingDash 
  box-shadow: -1px 1px 10px grey;
  position: absolute
  font-family: apple
  text-align: center
  border-width: 1px
  width: 31%
  height: 58vh
  border-style: solid
  border-color: orange
  margin-top: 5%
  border-radius: 5px
  margin: 2%
  margin-top: 5%
  display: flex;
  flex-direction: column;
  .h4
    background-color: orange
    color: white
    padding: 20px

    
 
.modalStyles
  width: fit-content
  max-width: 100%
  .modal-body
    height: 100%

.createNewEvent-button
  position: relative
  background-color: orange
  color: white
  border-radius: 5px
  border-width: 2px
  border-color: white

.event-info-button
  position: relative
  background-color: orange
  color: white
  border-radius: 5px
  border-width: 2px
  border-color: white

#createEventForm > input, span, select,
  display: block

#createEventCost, #createEventMaxPeople
  width: 15%

#createEventDescription
  height: 150px

.landingPageContent
  background-color: #ffffff3a
  width: 30%
  text-align: center
  border-width: 1px
  border-style: solid
  border-color: grey
  border-radius: 10px
  margin-left: 35%
  margin-right: 35%
  margin-top: 1%

.landingPageUsernameField, .landingPagePasswordField
  width: 45%
  margin: 1%
  margin-top: 2.5%
  margin-left: 27.5%
  margin-right: 27.5%

.loginButton
  margin: 2%
  width: 45%
  background-color: orange
  border-color: gray
.loginButton:hover
  background-color: #ff8d00
  border-color: gray
.loginButton:active
  background-color: #ffb255

#signupButton
  background-color: orange
  border-color: gray
  width: 100%
#signupButton:hover
  background-color: #ff8d00
  border-color: gray
#signupButton:active
  background-color: #ffb255

#noAccountText, #noAccountButton
  display: inline-block
  color: grey
  margin: 1%

#noAccountButton
  margin-left: .5%
  text-decoration: underline
  cursor: pointer

.guestButton
  background-color: orange
  color: white
  border-radius: 5px2
  border-width: 2px
  border-color: white

.landingPageHeader
  font-size: 50px
  font-weight: bold
  margin-top: 2.5%
  text-align: center

.landingPage
  margin-top: 0
  width: 100%
  height: 100vh

.landingPageImage
  z-index: -1000
  filter: blur(8px)
  position: fixed
  top: 0

#continueAsGuestButton
  color: gray
  text-decoration: underline
  margin-bottom: 2.5%
  cursor: pointer

#landingPageOr
  color: gray

#signup
  width: 200px
  margin-left: 50px
  margin-right: 50px

.hosting-dash-pending1
  color: red

.attending-dash-pending1
  color: grey

.dashboardListItem
  display: flex
  border-width: 1px
  border-style: solid
  border-color: orange
  border-radius: 3px
  position: relative
  height: 7vh;
  width: 94%;
  align-items: center;
  justify-content: center;
  margin: 3% 0 3% 0
  left: 3%
  overflow: scroll
#mainCalendar
  width: 72%
  display: inline-block
  float: right
  margin-right: 2.5%
  margin-top: 2.5%
  margin-bottom: 2.5%
  padding: 1.25%
  background-color: white
  border-radius: 15px
  filter: drop-shadow(0 0 0.15rem black)

#mainFilter
  width: 20%
  display: inline-block
  margin-left: 2.5%
  margin-top: 2.5%
  margin-bottom: 2.5%
  padding: 1.25%
  background-color: white
  border-radius: 15px
  filter: drop-shadow(0 0 0.15rem black)

#mainPage
  background-color: #fffbf3

.navbar
  filter: drop-shadow(0 0 0.1rem black)
  height: 75px

.rbc-agenda-date-cell
  background-color: white
  color: black

.rbc-toolbar-label
  font-size: 25px
  font-weight: 200

.dashboardButton
  position: relative
  right: -35%
  background-color: orange
  color: white
  border-radius: 5px
  border-width: 2px
  border-color: white
