@mixin basic-styles
  display: block
  font-family: "Trebuchet MS"
  // justify-content: center
  // align-items: center

@mixin display-grid 
  display: -ms-grid
  display: grid

.grid-parent-full
  @include display-grid
  height: 620px
  width: 50%
  grid-template-columns: 1fr 1fr
  grid-auto-rows: 2
  //grid-gap: 5px
  // padding: 5px
  border: 3px solid #800d0d
  border-radius: 10px

.grid-parent-limited
  @include display-grid
  height: 620px
  width: 50%
  grid-template-columns: 1fr 1fr
  grid-auto-rows: 2
  //grid-gap: 5px
  // padding: 5px
  border: 3px solid #800d0d
  border-radius: 10px

.grid-parent-host 
  @include display-grid
  height: 620px
  width: 50%
  grid-template-columns: 1fr 1fr
  grid-auto-rows: 3
  //grid-gap: 5px
  // padding: 5px
  border: 3px solid #800d0d
  border-radius: 10px

.grid-title 
  @include basic-styles
  background-color: #800d0d
  height: 120px
  grid-column: 1/3
  grid-row: 1/2
  color: white

.grid-left-host
  @include basic-styles
  font-weight: bold
  color: #800d0d
  background-color: #fc6565
  height: 300px
  grid-column: 1/2
  grid-row: 2/3
  padding: 20px
  margin: 0px 0px 0px 6px
  border-radius: 5px

.grid-left-full
  @include basic-styles
  font-weight: bold
  color: #800d0d
  background-color: #fc6565
  height: 482px
  grid-column: 1/2
  grid-row: 2/3
  padding: 20px
  margin: 0px 0px 0px 6px
  border-radius: 5px

.grid-left-limited
  @include basic-styles
  font-weight: bold
  color: #800d0d
  background-color: #fc6565
  height: 482px
  grid-column: 1/2
  grid-row: 2/3
  padding: 20px
  margin: 0px 0px 0px 6px
  border-radius: 5px

.grid-right-host
  @include basic-styles
  background-color: white
  height: 300px
  grid-column: 2/3
  grid-row: 2/3
  overflow-y: auto
  padding: 20px

.grid-right-full
  @include basic-styles
  background-color: white
  height: 450px
  grid-column: 2/3
  grid-row: 2/3
  overflow-y: auto
  padding: 20px

.grid-right-limited
  @include basic-styles
  background-color: white
  height: 450px
  grid-column: 2/3
  grid-row: 2/3
  overflow-y: auto
  padding: 20px

.grid-host-pend-accept 
  @include basic-styles
  height: 180px
  position: relative
  top: 5px
  grid-column: 1/3
  grid-row: 3/4
  border-radius: 0px 0px 10px 10px;

.grid-host-pend
  grid-column: col 1 / span  1
  grid-row: row 3 / span 1
  height: 180px
  width: 50%
  float: left
  position: relative
  top: 2px
  border-radius: 10px;
  border: 3px solid #800d0d
  overflow-y: auto
  padding: 20px
  
.grid-host-accept
  background-color: white
  grid-column: col 2 / span  1
  grid-row: row 3 / span 1
  height: 180px
  width: 50%
  float: right
  position: relative
  top: 2px
  border-radius: 10px
  border: 3px solid #800d0d
  overflow-y: auto
  padding: 20px

p.eventInfoTitle
  font-size: 40px
  position: relative
  padding-left: 30px

p.eventInfoLocation
  font-size: 25px
  position: relative
  padding-left: 40px
  top: -10px

p.eventInfoDescription
  overflow-wrap: break-word
  overflow-y: auto

@import 'react-big-calendar/lib/sass/styles'

.vl 
  border-left: 2px solid black
  height: 80%
  position: absolute
  left: 50%
  margin-left: -3px
  margin-top: 150px
  top: 0

.outerDash  
  text-align: center

.hostingDash 
  margin-left: 20%
  margin-top: 40px
  font-family: apple

.attendingDash 
  float: right
  margin-right: 20%
  margin-top: 40px
  font-family: apple
 
.modalStyles
  min-width: 90%
  .modal-body
    height: 100%

.createNewEvent-button
  position: relative
  background-color: orange
  color: white
  border-radius: 5px
  border-width: 2px
  border-color: white

.pend-accept-button
  display: inline-block
  float: right
  border-radius: 5px
  height: 22px
  width: 70px
  font-size: 12px
  background-color: #800d0d
  color: white
  margin: 2px

.attend-delete-button
  display: inline-block
  float: right
  border-radius: 5px
  height: 22px
  width: 80px
  font-size: 12px
  background-color: #800d0d
  color: white
  margin: 2px
  

.pend-accept-name
  display: inline-block
  font-weight: bold
  color: #800d0d
  margin: 2px

.pend-accept-heading
  background-color: #800d0d
  color: white
  text-align: center
  position: relative
  top: -20px
  left: -20px
  width: 118%

.event-info-button
  position: relative
  background-color: orange
  color: white
  border-radius: 5px
  border-width: 2px
  border-color: white

#createEventForm > input, span, select,
  display: block

#createEventCost, #createEventMaxPeople
  width: 15%

#createEventDescription
  height: 150px